<!-- company_list.html -->

<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #3498db;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}
</style>
</head>
<body>

<h2>Dynamic HTML Table from Django Data</h2>

<table>
  <tr>
    <th>college name</th>
    <th>leader name</th>
    <th>idea title</th>
    <th>idea desc</th>
  </tr>
  {% for student in students %}
  <tr>
    <td>{{student.college_name}}</td>
    <td>{{ student.student_name }}</td>
    <td>{{student.project_title}}</td>
    <td>{{student.project_desc}}</td>
  </tr>

  {% endfor %}
</table>

</body>
</html>
